/* styles.css */
body {
  font-family: Arial, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

h2 {
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-top: 20px;
}

label {
  margin-bottom: 5px;
}

input, select, button {
  margin-bottom: 10px;
  padding: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border: none;
}

.content-form{
  width: 300px;
  margin:  0 auto;
}
th{
  cursor: pointer;
}
.btn-edit {
  color: white;
  background-color: yellow;
}