.form-student{
  width: 40%;
  margin: 40px auto !important;
}
.table-student{
  width: 70%;
  margin: 0 auto;
}
th,td{
  text-align: center;
}
.btn-action{
  display: flex;
  gap: 80px;
  justify-content: center;
}

.btn-action button {
  border: none;
  background-color: white;
  color: red;
  font-weight: 600;
}